.grid {
  display: grid;
  gap: 8px;
  width: 40vw;
  height: 40vw;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  li {
    button {
      width: 100%;
      height: 100%;
      background-color: inherit;
    }
  }
}
